{
margin: 0;
    
padding:0;
    
}
body{
    background-color: #111;
}

*{
    
    text-decoration: none;
}

header{
 
  width: 100%;
  height: 160px;
  background: linear-gradient(to right, #ffcc00, #0B3983);
}
header a img{
    align-content: center;
    
}

header .header-brand{
    font-family: Oswald;
    font-size:24px;
    font-weight: 900;
    color: #111;
    display:block;
    margin: 0 auto;
    text-align: center;
    padding:10px 0;
}

header nav ul {
    display:block;
    margin:0 auto;
    margin:20 0px 0px 20px;
    

    
}

header nav ul li {
    display:inline-block;
    text-align: center;
    list-style: none;
    padding:0 5px;
    
    
}

header nav ul li a {
    font-family: Oswald ;
    font-size:16px;
    color: azure;
    text-align: center;
    margin:31px 0;
    text-shadow: 2px 2px 8px #111;
    padding:5px;
    border-right:2px solid #111;
    line-height: 6px;
    
   
   
    
}

header .header-content {
    display: none;
}

@media only screen and(min-width: 1000px){
    header .header-brand{
   
   
    margin-right: 30px ;
    text-align:center;
    padding: 0 20px 0 40px;
    border-right:3px solid #111;
   
    }
    
    
    header nav ul {
    display:block;
    margin:0 auto;
    

    
}

header nav ul li {
    display:inline-block;
    text-align: center;
    list-style: none;
    padding:0 8px;
    
}

header nav ul li a {
    font-family: Oswald ;
    font-size:16px;
    color: azure;
    text-align: center;
    margin:31px 0;
    text-shadow: 2px 2px 8px #111;
    padding:5px;
    border-right:2px solid #111;
    line-height: 6px;
    
   
   
    
}
    
}

/*INDEX*/

.index-banner{
    width: 100%;
    height: calc(100vh - 160px);
    background-image: url(../images/OneSkyeBanner.jpg);
    background-repeat: no-repeat;
    background-position: : center;
    background-size: cover;
    margin:10px 0;
    display:table;
}

.vertical-center{
    display:table-cell;
    vertical-align: middle;
    
}

.index-banner h2{
    font-family: Oswald;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    list-style: none;
    
}

.index-banner h1{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    line-height: 34px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    
}

.index-banner h4{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    line-height: 34px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}

.index-links div {
    margin: 16px 16px 0px;
     width:calc(100% - 32px);
    height: 100px;
    background-color:#FFD839;
}

.index-links div h3{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 900;
    line-height: 100px;
    color: #111;
    text-align: center;
    
}

@media only screen and(min-width: 1000px){
    .wrapper{
        width:1000px;
        margin: 0 auto;
    }
    
    .index.banner{
         width: 100%;
         height: 500px;
  
    }
    .index-links div {
    
    
    height: 100px;
    background-color:#FFD839;
}
    
    
    .index-link-square{
        width:calc(25% - 20px)!important;
        width:calc(100% - 32px);
        
    }
}

/*FOOTER*/

footer{
    width:calc(100%-80px);
    padding: 40px 40px;
    margin:10px 10px;
    background-color: #0B3983;
    overflow: hidden;
    
    
}

footer ul {
    width:fit-content;
    float: left;
    padding-left: :20px;
}

footer ul li{
   
    display:block;
    list-style: none;
     
    
}

footer ul li a {
    font-family: Oswald ;
    font-size:24px;
    color: azure;
    line-height: 40px;
    text-shadow: 2px 2px 8px #111;
   
   
}

.footer-links-updates{
    display: none;
}

.footer-sm{
    width: 40px;
    float: right;
    
}

.footer-sm img {
    
    width:100%;
    margin-bottom: 10px;
    
}

@media only screen and (min-width:1000px){
    .footer-links-updates {
        display:block;
    }
    
    footer ul {
    width:fit-content;
    float: left;
    padding-left: :20px;
    padding-right: 30px;
}
    
    
    
    footer ul li p {
        font-family: Oswald ;
        font-size:20px;
        color: azure;
        line-height: 20px;
        text-shadow: 2px 2px 8px #111; 
        
    }
}